@import 'tailwindcss';

@theme{
  --color-Grey100: #eeeeef;
  --color-Grey200: #e6e9ed;
  --color-Grey600: #95989c;
  --color-Purple200: #d9ddee;
  --color-Purple500: #9492db;
  --color-Purple600: #7164c0;
  --color-button1: #e0e7fe;
  --color-button2: #3e38a7;
  --color-button3: #5046e4;
}
